.DS_Store
__MACOSX/
.metadata
Servers
*/build.num
editor/war/WEB-INF/classes/*
editor/war/WEB-INF/viewer.zip
editor/war/WEB-INF/deploy
editor-modules-test/war/WEB-INF/classes/*
editor-modules-test/war/WEB-INF/deploy
editor-api/classes/*
editor-modules/classes/*
editor-catalog/target/*
editor/war/samples/*
editor/war/templates/*
editor/war/editor/
editor/war/editorcore/
editor/war/htmllist/
editor/war/classpathmodulesstore/
editor/war/viewer/
editor/war/gip/
editor/war/commons/
editor/modules/editor-modules.jar
