.resource{height:571px;}

@sprite .uploadButton{gwt-image:'uploadButton';width:180px;height:66px; margin:auto;display:block;}
@sprite .importButton, .createLinkButton{gwt-image:'importButton';padding:0 0 0 30px;}
@sprite .catalogButton{gwt-image:'catalogButton';padding:0 0 0 25px;}
.importButton, .createLinkButton, .catalogButton, .chooseButton{color:#FFF;text-shadow: black 0px 1px 1px;font-size:1.2em;line-height:28px;border: 0;cursor: pointer;font-family:"Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;}
.importButton, .createLinkButton, .catalogButton {width:auto;background-position:top left;;margin: 0;}

@if user.agent ie7 ie8 ie9 {
	.importButton {display: none;} /* Impossible de faire le style attendant à l'input file en css avec ie*/			
}

.detail{margin-top:-14px;position:relative;z-index:0;}

.closed, .opened {/*-webkit-transition: height 5s ease-in-out;*/}
.closed {height: auto;display:none !important;}
.opened {height: auto;margin:-30px 0 30px -10px;}/* Le ul est margé à gauche de 10px or le li des details est incrusté dans la colonne de gauche*/

@sprite .head{gwt-image:'head';width:700px;height:15px;background-position:top left;position:relative;z-index:0;}
@sprite .middle{gwt-image:'middle';width:700px;height:auto;background-position:top left;}
.middleWrapper{margin:10px 20px 10px 40px;}

@sprite .bottom{gwt-image:'bottom';width:700px;height:6px;background-position:top left;}
.viewContainer{width:454px;margin-right:10px;}

@sprite .chooseButton{gwt-image:'chooseButton';width:454px;background-position:top left;margin:10px 0 0;text-align:left;padding:0px 0px 0px 10px;}
@sprite .chooseButton p {gwt-image:'chooseIcon';width:auto; padding-left:value('chooseIcon.getHeight','px');margin:0;}
.textContainer{width:175px;}

.name{font-size:1.6em;line-height:1.15em;color:#00c6ff;word-wrap: break-word;_height:40px;max-height:40px;overflow: hidden;margin:0;padding:0;text-decoration: none;}

.more {display:none;}
.type{line-height:1.6em;color:#CECCCC;word-wrap: break-word;margin:0;padding:0;}
.more input {border:none;background:none;margin:0 0 0 5px;width:30px;line-height:1.6em;color:#CECCCC;}
.more input:hover {outline:#CECCCC 1px solid;}
.technical:hover .more{display:block;}

.description{color:otherColor;margin-top:10px;word-wrap: break-word;}