body {
	background-color: #999999;
}
.unlarge {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}
#global {
 	margin: 10% 25% 10% 25%;
}
.flotL{float:left;}
.flotR{float:right;}
.clear{clear:both;position:relative;}
.form input {height:40px;}
.form textarea{height:106px;resize:none;}
.form input, .form textarea {width:370px;margin:12px 0 0 5px;border:none;background:none;font-family:"Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; font-size:1.4em;line-height:40px;color:textColor;}
.form label{text-align:right;height:40px;line-height: 40px;font-size:1.4em;color:#e6e3dc;margin:12px 8px 0 0;}
.row{/*width:593px;*/height:62px;}
.row .labelContainer{width:191px;height:62px;float:left;}
.row .field{height:62px;}
.row .labelLeft{background-image: url(../images/bg_gch_lab.png);width:6px;height:62px;}
.row .labelRight{background-image: url(../images/bg_dt_lab.png);width:185px;}
.row .fieldLeft{background-image: url(../images/bg_gch_inp.png);;width:380px;}
.row .fieldRight{background-image: url(../images/bg_dt_inp.png);width:8px;height:62px;}

.dial_conn .form input {width:255px !important;}
.dial_conn .form .row .fieldLeft {width:266px !important;}

.window {
	position: ABSOLUTE;
	width: auto;
	height: auto;
	z-index: 999;
	margin: 0px;
	padding: 0px;
}

.dial_conn {
	width: 100%;
	height: auto;
	position: relative;
}

.haut_dialConn,.bas_dialConn {
	height: 6px;
}

.haut_dialConn {
	background-image: url(../images/dialConn_haut.png);
}

.bas_dialConn {
	background-image: url(../images/dialConn_bas.png);
}

.mil_dialConn {
	background-image: url(../images/dialConn_mil.png);
	background-position:bottom;
	background-color: #FFFFFF;
	width: 480px;
	height: auto;
	padding: 4px 10px;
	border-right: 2px solid #333333;
	border-left: 2px solid #333333;
}

.intitule_dialConn {
	width: auto;
	height: 69px;
	padding: 0;
	position: relative;
}

.intitule_dialConn div {
	float: left;
}

.mil_mil_dialConn {
	padding: 10px 0 0 5px;
	height: auto;
	position: relative;
}

.logo {
	margin-right: 10px;
}

.loginMessage {
	font-size: 18px;
	color: #333;
	line-height: 20px;
	margin:0;
}

.loginfields {
	margin-top: 20px;
}

.forgetMessage {
	font-size: 14px;
	color: #333;
}

.close_dial {
	margin: 0;
}


.titre {
	color: #00C6FF;
	font-size: 40px;
	line-height: 40px;
	margin:5px 0 0;
}

.sous_titre {
	color: #B5B5B5;
	font-size: 14px;
	margin:0;
}


.btn_dial {
	background-image: url(../images/btn_dial.png);
	margin-top: 10px;
	margin-right: 10px;
	color: #fff;
	font-size: 14px;
	border: none;
	padding: 0;
	cursor: pointer;
	height: 28px;
	width: 74px;
}

.forgetButton {
	color: otherColor;
	display: block;
	margin: 0 auto;
	font-size: 14px;
	text-decoration: underline;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}

.forgetButton:hover {
	color: #00C6FF;
}

.forgetPanel {
	margin-top: 30px;	
}

.unavailable {
	opacity: 0.5;
	filter : alpha(opacity\=50);
}